name: Release Please (Reusable)

on:
  workflow_call:
    secrets:
      token:
        required: false

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
      paths_released: ${{ steps.release.outputs.paths_released }}
    steps:
      - uses: arieluchka-org-test/action_templates/releases/release-please-action@main-alt
        id: release
        with:
          token: ${{ secrets.token || secrets.GITHUB_TOKEN }}
          jira-base-url: 'https://brightsourceenergy.atlassian.net'
          enable-jira-links: true
